:root{
    --p500: #5C6BC0;
    --p700: #303f9f;
    --p800: #283593;
    --a700: #FFC400;
}



.navbar {
  position: fixed;
  background-color: var(--p800);
  top: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#siteTitle {
    margin-right: auto;
    margin-left: 5%;
    color: white;
    font-size: 40px;
}

.menueBtn {
    margin: 8px;
    padding: 8px;
    font-size: 24px;
    align-content: center;
    background: var(--a700);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    color: black;
}

.menstrip {
  position: absolute;
  width: 36px;
  height: 4px;
  background: var(--p800);
  margin: 4px 0;
}
#exp {
  width: 56px;
  height: 56px;
  right: 100px;
}
.exp1{top: 20px;}
.exp2{top: 32px;}
.exp3{top: 44px;}

#nav-links {
  display: flex;
  font-size: 16px;
  width: 50%;
  justify-content: space-around;
  margin-right: 30px;
}
#nav-collapsed{
  display: none;
  margin-right: 30px;
}

a.Anchor {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}

#center-stripe {
  position: fixed;
  background: var(--p500);
  width: 100%;
  position: absolute;
  top: 80px;

  min-height: 100%;
  height: 1 0;
}

.about, .portfolio, .contact {
    background: rgba(256, 256, 256, 0.9);
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0px 5% 20px 5%;
    padding: 8px 5%;
    font-size: 24px;
}
.about {
  margin-top: 20px;
}
.portfolio{font-size: 16px;}

.aboutText {
    width: 60%;
    padding: 5%;
}
.about .twocols{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.profpic {
    width: 80%;
    padding: 5% 5% 5% 0%;
    margin: auto;
    display: flex;
    align-content: center;

}

@media screen and (max-width: 800px) {
  .about .twocols, .portfolio .twocols {
    flex-direction: column;
  }
  #nav-links {
    display: none;
  }
  #nav-collapsed {
    display: block;
  }
}

.sectionTitle {
    width: 100%;
    text-align: center;
}

.twocols {
    display: flex;
    align-items: top;
    flex-flow: row;
}

.website {
  position: relative;
    background: white;
    margin: 5%;
    border-radius: 10px;
    width: 90%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.webpic {
    width: 100%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.leftcol, .rightcol {
    width:50%;

}

@media screen and (max-width: 900px) {
    .leftcol, .rightcol {
        width:100%;
    }
}
